body {
  background: #363f46;
  color: white;
  padding: 0;

  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  padding-left: 50px;
  padding-right: 70px;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 35px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  background: #363f46;
  position: sticky;
  height: 67px;
  top: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  column-gap: 40px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #118da8;
}

.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}

span {
  border-bottom: 5px solid #118da8;
}

.header-heading {
  font-size: 70px;
  text-align: left;
  margin-top: 334px;
  font-weight: 400;
}

.wwb {
  font-size: 15px;
  padding-left: 22px;
  margin-top: 74px;
  font-family: "Dm Sans";
}

.icons {
  margin-top: 16px;
  column-gap: 17;
}
