body {
  background: #363f46;
  color: white;
  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

.header {
  height: 1032px;
  max-width: 1920px;
}

.container {
  max-width: 14560px;
  padding-left: 50px;
  padding-right: 70px;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  background: #363f46;
  position: sticky;
  height: 67px;
  top: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  column-gap: 40px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #118da8;
}

.header-row {
  display: flex;
  justify-content: space-between;

  margin-top: 107px;
}

.header-box {
  height: 610px;
  width: 550px;
  margin-top: 324px;
}

span {
  border-bottom: 2px solid #118da8;
}

.header-content-text {
  font-size: 60px;
  padding-left: 60px;

  font-family: "Dm sans";
  margin: 0 auto;
  text-align: left;

  font-weight: 400;
}

.header-imgage {
  width: 650px;
  height: 873px;
  border-radius: 30px;
  padding: 0;
}

main {
  height: 2088px;
}
.main-block {
  padding-top: 93px;
  font-size: 64px;
  padding-left: 50px;
  padding-right: 70px;

  display: flex;

  background: white;
  color: black;
}
